
.nav_wrp {
    flex-direction: row-reverse;
}

.nav_burger {
    display: block;
}

.nav {
    display: none;
}

.basetitle {
    max-width: 79%;
    font-size: 40px;
    line-height: 1.3;
}

/* Тренды */

.trends {
    padding-top: 45px;
}

.trends_title {
    font-size: 18px;
}

.trends_article_name {
    font-size: 17px;
}

/*Посты*/
.wrp_posts_and_aside {
    padding-bottom: 50px;
}

.post {
    flex-direction: column;
    flex: auto;
    gap: 15px;
}

.post_preview {
    width: 100%;
}

.post_content {
    width: 100%;
}

.post_header_title {
    font-size: 17px;
}

.post_after::after {
    display: block;
}

.post_bottom {
    margin-bottom: 42px;
}

/* Наши изделия */
.shop_articles {
    flex-wrap: wrap;
}

.shop_article_wrp {
    width: 45%;
}

.shop_article_wrp:nth-child(n+3) {
    margin-top: 42px;
}

.shop_article_wrp:nth-child(2n+2) {
    margin-left: 45px;
}


/* Popup */
.popup_name {
    font-size: 18px;
}

.popup_close {
    top: -40px;
}

.popup_close_image {
    width: 26px;
}