
.logo {
    display: none;
}

.nav_wrapper {
    flex-direction: row-reverse;
}

.nav_burger {
    display: block;
}

.nav {
    display: none;
}

.nav_list {
    justify-content: flex-start;
}

.header_content_central_part {
    padding-right: 25px;
    padding-left: 25px;
}

.logo_for_mobile {
    display: block;
}

.basetitle {
    width: 100%;
    font-size: 26px;
    line-height: 1.3;
}

/* Тренды */

.trends {
    padding-top: 45px;
}

.trends_title {
    font-size: 16px;
}

.trends_articles {
    flex-direction: column;
}

.trends_article_wrapper {
    width: 100%;
    flex: auto;
}

.trends_article_name {
    font-size: 16px;
}

/*Посты и sidebar*/
.main_block {
    flex-direction: column;
    padding-bottom: 19px;
}

/* Посты */
.posts {
    width: 100%;
    flex: auto;
    gap: 35px;
}

.post {
    flex-direction: column;
    flex: auto;
    gap: 15px;
}

.post_preview {
    width: 100%;
}

.post_content {
    width: 100%;
}

.post_header_title {
    font-size: 16px;
}

.post_after::after {
    display: block;
}

.post_text {
    font-size: 14px;
    line-height: 1.4;
}

/* Sidebar */
.sidebar {
    gap: 44px;
    margin-top: 45px;
    margin-left: 0;
    width: 100%;
}

.sidebar_child_title {
    font-size: 16px;
}

/* Наши изделия */

.shop_articles {
    flex-direction: column;
    gap: 42px;
}

.shop_article_container_desktop_margin_right {
    margin-right: 0;
}

.shop_article_wrapper {
    width: 100%;
}

/* Popup */
.popup {
    padding-top: 55px;
    padding-bottom: 55px;
}

.popup_container {
    padding: 28px 26px 30px;
}

.popup_name {
    font-size: 16px;
}

.popup_close {
    top: -40px;
}

.popup_close_image {
    width: 26px;
}