/* Посты и Sidebar */

.main_block {
    max-width: 1200px;

    margin: auto;
    padding: 64px 15px 84px;
}

.wrp_posts_and_aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 64px;
}

/*Статьи.*/
.posts {
    max-width: 778px;
    flex: 1;
}

.post {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
}

.post_after::after {
    content: "";

    /*Блочная модель*/
    display: none;
    width: 100%;
    height: 3px;

    background-color: #eeeeee;
}

.post_bottom {
    margin-bottom: 59px;
}

.post_preview {
    position: relative;
    display: flex;
    width: 50%;
}

.post_preview::after {
    content: "";

    /*Позиционирование*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    /*Блочная модель*/
    width: 100%;
    height: 100%;

    background-color: #eff6f1;
}

.post_img {
    z-index: 4;
    width: 100%;
    min-height: 30px;
}

.post_content {
    z-index: 4;
    width: 50%;
    padding-left: 30px;
    padding-bottom: 1px;
}

.post_header_category {
    display: flex;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.category {
    margin-right: 20px;

    /*Типографика*/
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
}

.category:hover {
    text-decoration: underline;
    font-weight: 700;
}

.post_header_title {
    margin-bottom: 16px;

    /*Типографика*/
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
}

.post_header_title:hover {
    color: #b59f5b;
}

.date_author {
    margin-bottom: 34px;
}

.post_date {
    margin-right: 15px;

    /*Типографика*/
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}

.author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

.post_text {
    font-size: 15px;
    line-height: 1.2;
    color: #0f0d0e;
    font-weight: 400;
}

/*Боковая панель*/
.sidebar {
    position: relative;

    /*Блочная модель*/
    flex-shrink: 0;
    width: 272px;
    margin-left: 34px;
    padding: 0 1px 1px 1px;
}

.sidebar_child:nth-child(n + 2) {
    margin-top: 60px;
}

/*Последние посты*/
.sidebar_child_title{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
}
.last_posts_name_section {
    margin-bottom: 29px;
}

.last_posts_name_section::after {
    content: "";

    /*Блочная модель*/
    display: block;
    margin: 14px auto 0;
    width: 66px;
    height: 3px;

    background-color: #e1d9bd;
}

.last_post {
    position: relative;

    /*Блочная модель*/
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
}

.last_post_margin_top {
    margin-top: 22px;
}

.last_post_preview {
    position: relative;

    display: flex;
    width: 25%;
}

.last_post_preview::after {
    content: "";

    /*Позиционирование*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    /*Блочная модель*/
    width: 100%;
    height: 100%;

    background-color: #eff6f1;
}

.last_post_img {
    z-index: 4;
    width: 100%;
    object-fit: contain;
}

.last_post_content {
    width: 75%;
    padding-left: 18px;
}

.last_post_date {
    display: block;

    font-size: 12px;
    color: #000000;
    font-weight: 400;

    opacity: 0.541;
}

.last_post_text {
    /*Типографика*/
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

/*Форма поиска*/
.search_field {
    /*Блочная модель*/
    height: 49px;
    flex: 1;
    padding: 18px;
}

.search_group {
    display: flex;
    width: 100%;
}

.search_button {
    width: 49px;
    height: 49px;
    margin-left: -1px;
    padding: 15px;

    /*Оформление*/
    background-color: #b59f5b;
}

.search_button_svg {

    fill: #fff;
    stroke: #B59F5B;
}

/*Подписка*/
.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe_name_section {
    margin-bottom: 23px;
}

.subscribe_name_section::after {
    content: "";

    /*Блочная модель*/
    display: block;
    margin: 14px auto 0;
    width: 66px;
    height: 3px;

    background-color: #e1d9bd;
}

.subscribe_field {
    /*Блочная модель*/
    height: 49px;
    margin-bottom: 16px;
    padding: 18px;
}

.subscribe_button {
    height: 49px;
    font-size: 14px;
}

/*Теги*/
.tags {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.tags_name_section::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 14px auto 17px;

    background-color: #e1d9bd;
}

.tags_list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.tags_item {
    height: 29px;
    margin-right: 5px;
    margin-top: 6px;
    padding: 0 14px;

    border: 3px solid #ededed;
}

.tags_link {
    text-transform: uppercase;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
}

.tags_item:hover {
    border-color: #b59f5b;
}

/*Темы*/
.topics {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
}


.topics_name_section::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 14px auto 23px;

    background-color: #e1d9bd;
}

.topics_list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topics_item {
    width: 100%;
    margin-bottom: 6px;
    padding: 12px 1px;

    border-bottom: 1px solid #ededed;
}

.topics_link {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
}

.topics_link:hover {
    color: #b59f5b;
}

.sup_text {
    padding-left: 4px;

    vertical-align: top;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
}
